<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    
     <!-- stylesheet-->
     <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <!-- Favicon-->
     <link rel="icon" href="{{ site.baseurl }} /assets/images/favicon.ico">

     <!-- JavaScript-->
      <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

    <!-- plungins-->
     {% feed_meta %}
     {% seo %}

</head>
<body>
    {% include navigation.html %}
    {{ content }}
</body>
</html>